# Ignore environment variable files
.env

# Ignore Python cache directories
__pycache__/

# Ignore data and storage directories if they are not needed in the cloud
data/
storage/

# Ignore virtual environment directory
venv/

# Ignore system-specific files
.DS_Store
Thumbs.db

# Ignore compiled Python files
*.pyc

# Ignore log files
*.log

# Ignore IDE specific files (optional)
.vscode/
.idea/
